*{
    font-family:'Courier New', Courier, monospace
}

h1{
    text-align: center;
}

h3{
    border-style: solid;
    border-width: 1px;
    border-color:black
    float: left;
}

h3.pinkchicken{
    background-color: pink;
}

h3.redbeef{
    background-color:darkred;
    color: white;
    border-style: solid black;
}

h3.yellowsushi{
    background-color: khaki;
}

p { 
    border-style: solid;
    border-color:black;
    border-width: 1px;
}
div{
    width: 30%;
    border-style: solid;
    border: 15px black;
    margin: 10px;
}

.chicken{
    float: left;
}

.beef{

    float: left;
}

.sushi{
    float: left;
}