* {
    box-sizing: border-box;
}

body {
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
}

div{
    position: relative;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 15px;
}

section {
    margin-right: 10px;
      margin-left: 10px;
      margin-bottom: 10px;
}

h1 {
    text-align: center;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px;
}

h3 {
    border-style: solid;
    border-width: 1px;
    border-color: black;
    text-align: center;
    position: absolute;
    top: 0px;
    right: 0px;
    width: 90px;
    margin: 0;
    padding: 5px;
}

p {
    margin-top: 40px;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
}

.chicken{
    border: 1px solid black;
    background-color: darkgray;
}

.beef{
    border: 1px solid black;
    background-color: darkgray;
}

.sushi{
    border: 1px solid black;
    background-color: darkgray;
}

/* Styling for different menu items */
.pinkchicken {
    background-color: pink;
}

.redbeef {
    background-color: darkred;
    color: white;
}

.yellowsushi {
    background-color: khaki;
}

/*large devices only*/
@media (min-width: 992px) {
    .col-lg1, .col-lg2, .col-lg3, .col-lg4, .col-lg5, .col-lg6, .col-lg7, .col-lg8, .col-lg9, .col-lg10, .col-lg11, .col-lg12 {
        float: left;
    }
    .col-lg1{
        width: 8.33%;
    }
    .col-lg2{
        width: 16.66%;
    }
    .col-lg3{
        width: 25%;
    }
    .col-lg4{
        width: 33%;
    }
    .col-lg5{
        width: 41.66%;
    }
    .col-lg6{
        width: 50%;
    }
    .col-lg7{
        width: 58.33%;
    }
    .col-lg8{
        width: 66.66%;
    }
    .col-lg9{
        width: 74.99%;
    }
    .col-lg10{
        width: 83.33%;
    }
    .col-lg11{
        width: 91.66%;
    }
    .col-lg12{
        width: 100%;
    }
}

/*medium devices only*/
@media (min-width: 768px) and (max-width: 991px) {
    .col-md6 {
        width: 50%; 
    }
    .col-md12 {
        width: 100%;
    }
}

/*small devices only*/
@media (max-width: 767px) {
    .col-sm12 {
        width: 100%; 
    }
}